<html>
<head>
  <title>Basic WebViewer</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no" />
</head>
<script src='webviewer/lib/webviewer.min.js'></script>
<body>
  <div id='viewer' style='width: 100%ß; height: 600px; margin: 0 auto;'></div>
  <button id="save-image">Save Image</button>
  <button id="export_annotations">Export Annotations</button>
  <button id="generate">Generate PDF</button>
  <a href="/output.pdf" download="output.pdf" id="download-pdf">Download PDF</a>
<script>

  WebViewer.WebComponent({
    path: 'webviewer/lib',
    licenseKey: "{{ licenseKey }}"
  }, document.getElementById('viewer'))
  .then(instance => {
    const { documentViewer, annotationManager } = instance.Core;

    documentViewer.addEventListener('documentLoaded', async () => {
      const annotations = await fetch('./annotations.xml').then(res => res.text());
      await annotationManager.importAnnotations(annotations);

    });

    // Load image
    const url = 'test_img.jpeg'
    console.log('url', url);
    const img = new Image();
    img.onload = function() {
      documentViewer.loadDocument(url, {
        pageSizes: [{ width: img.width, height: img.height }],
      });
    }
    img.src = url;

    document.getElementById('save-image').addEventListener('click', async () => {
      const pageNumber = 1;
      const doc = documentViewer.getDocument();
      doc.loadCanvas({
        pageNumber,
        drawComplete: async (thumbnail) => {
          // Expect a canvas element, but this is an Image element
          // https://docs.apryse.com/api/web/Core.Document.html#loadCanvas__anchor
          console.log('canvas?', thumbnail); // canvas <img .... />
          const corePageRotation = (doc.getPageRotation(pageNumber) / 90) % 4;
          // thumbnail.getContext will throw an error
          annotationManager.setAnnotationCanvasTransform(thumbnail.getContext('2d'), zoom, corePageRotation);
          await instance.Core.documentViewer.getAnnotationManager().drawAnnotations(pageNumber, thumbnail);
          console.log(thumbnail);
        },
      });
    });


    document.getElementById('export_annotations').addEventListener('click', async () => {
        const xfdfString = await annotationManager.exportAnnotations();

        fetch('/export', {
          method: 'POST',
          headers: {
            'Content-Type': 'application/json'
          },
          body: JSON.stringify({xfdfString})
        }).then(() => {
          alert('Annotations saved')
        }).catch((err) => {
          alert(err)
        });

    });
  });

  document.getElementById('generate').addEventListener('click', async () => {
    fetch('/generate', {
      method: 'POST',
    }).then(() => alert('PDF generated')).catch((err) => {
      alert(err)
    });
  });

</script>
</body>
</html>